<style>

    .count {
        padding-top: .4rem;
        padding-bottom: .4rem;
        font-size: 1rem;
        font-weight: 800;
        color: #ff0000;
    }

</style>

<div class="layui-fluid layui-anim febs-anim" id="febs-user" lay-title="Lịch sử thống kê">
    <div class="layui-row febs-container">
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-form-item">
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>
                                    <small style="color:black;">Lịch sử thống kê</small>
                                </legend>
                            </fieldset>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-md12 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset" title="Làm mới">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="export-excel" title="Xuất excel">
                                    <i class="layui-icon">&#xe7e4;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="sums" title="Xuất excel">
                                    <i class="layui-icon" style="color:#000000">Tổng tháng này：<label class="count" id="lab-thisMonthSum">1222</label>，   Tổng tháng trước：<label class="count" id="lab-lastMonthSum">34431</label></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="userTable" lay-data="{id: 'userTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="user-status">
    {{#
    var status = {
    1: {title: 'Hoạt động', color: 'green'},
    0: {title: 'Vô hiệu', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge febs-tag-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="user-sex">
    {{#
    var sex = {
    2: {title: 'Bí mật'},
    1: {title: 'Nữ'},
    0: {title: 'Nam'}
    }[d.sex];
    }}
    <span>{{ sex.title }}</span>
</script>
<script type="text/html" id="format-percent">
    {{#
    var yes_retain = d.yesterdayRetain.toFixed(2);
    }}
    <span>{{ yes_retain+"%" }}</span>
</script>
<script type="text/html" id="stat-time-date">
    {{#
    var stat_date = d.statTime.substring(0,10);
    }}
    <span>{{ stat_date }}</span>
</script>
<script type="text/html" id="user-option">
    <span shiro:lacksPermission="user:view,user:update,user:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> Không có quyền
    </span>
    <a lay-event="detail" shiro:hasPermission="user:view"><i
            class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
    <a lay-event="edit" shiro:hasPermission="user:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="user:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            $view = $('#febs-user'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();

        table.on('tool(userTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'detail') {
                febs.modal.view('Thông tin người dùng', 'system/user/detail/' + data.username, {
                    area: $(window).width() <= 750 ? '95%' : '660px'
                });
            }
            if (layEvent === 'del') {
                febs.modal.confirm('Xóa người dùng', 'Bạn có chắc chắn muốn xóa người dùng này?', function () {
                    deleteUsers(data.userId);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('Sửa người dùng', 'system/user/update/' + data.username, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['Xác nhận', 'Hủy'],
                    yes: function (index, layero) {
                        $('#user-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(userTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams()});
        });

        $view.find('#export-excel').on('click', function () {
            febs.download(ctx + 'query/dailyStat-excel', {}, 'Thống kê hàng ngày.xlsx');
        });

        function initTable() {
          tableIns = table.render({
            elem: $view.find('table')
            ,url:ctx + 'query/daily_stat'
            ,cellMinWidth: 80
            ,cols: [[
                {title: 'Thời gian',templet:'#stat-time-date',minWidth: 110},
                {field: 'newPlayer', title: 'Người chơi mới'},
                {field: 'activePlayer', title: 'Hoạt động'},
                {field: 'paySum', title: 'Tổng nạp',minWidth: 100,templet:function(d){
                    return "<span style='color:red;font-weight:bold;font-size:1rem;'>"+d.paySum+"</span>";
                }},
                {field: 'payCount', title: 'Số người nạp',minWidth: 100},
                {field: 'newPay', title: 'Số người nạp mới',minWidth: 120},
                {title: 'Tỷ lệ giữ chân hôm qua',templet:'#format-percent',minWidth: 100}
            ]],
            parseData: function(res){
                $("#lab-thisMonthSum").text(res.data.thisMonthSum);
                $("#lab-lastMonthSum").text(res.data.lastMonthSum);
                return {
                  "code": 0,
                  "msg": "",
                  "count": res.data.total,
                  "data": res.data.rows
                };
          }
          });
        }

        function getQueryParams() {
            return {};
        }

        function deleteUsers(userIds) {
            var currentUserId = currentUser.userId + '';
            if (('' + userIds).split(',').indexOf(currentUserId) !== -1) {
                febs.alert.warn('Không thể xóa người dùng hiện tại đang đăng nhập');
                return;
            }
            febs.get(ctx + 'user/delete/' + userIds, null, function () {
                febs.alert.success('Xóa người dùng thành công');
                $query.click();
            });
        }
    })
</script>